@using Microsoft.AspNet.Identity
@model IEnumerable<MyRecords.Models.ApplicationUser>



@{
    ViewBag.Title = "Member Profile";
}

<section class="bg-light-gray">
    <div class="row">
        <div class="col-lg-4">
            <h3 class="profile-picture-margin">Member Profile</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-2">
            <div class="thumbnail profile-picture-margin max-width" id="profilepicture">
                @foreach (var item in Model)
                {
                    if (item.Files.Any(f => f.FileType == FileType.Image))
                    {
                        <img src="~/File?id=@item.Files.First(f => f.FileType ==FileType.Image).FileId" alt="Profile Picture" class="img-thumbnail max-width">
                    }

                    else
                    {
                        <img src="http://placehold.it/140/140" alt="Profile Picture" class="img-thumbnail max-width" />
                    }
                }
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="col-lg-3">

                <h3 class="no-margin bold">@item.FirstName @item.LastName</h3>
                <p class="main-paragraph">
                    @item.Email <br />
                    @item.Country, @item.City. <br />
                    @item.Age years old
                </p>
            </div>
            <div class="col-lg-5">
                <h3 class="no-margin bold">Status:</h3>
                <blockquote class="status-update">"@item.StatusUpdate"</blockquote>
                <p class="italic text-smaller margin-bottom">Updated at @item.LatestUpdate</p>
            </div>
        }
    </div>
</section>

<div class="row">
    <div class="col-lg-12">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Post in Guestbook", "Create", "Posts", null, null)</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Back to List", "AllProfiles")</li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<section>
    @Html.Partial("_UserLatestArtistsPartial")
</section>

<section>
    @Html.Partial("_GuestBookProfilePartial")
</section>